

body{
	text-align: center;
	background-color: #43c0c2;
	font-family: "Josefin Slab", MONOSPACE;
}
h1{
	font-family: "Josefin Slab", MONOSPACE;
	border: 5px #2e8b8d solid;
	width: 40%;
	margin:auto;
	
}

button{
	background-color:#c1eaeb;
	height: 40px;
	width: 80px;
	font-family: 'Oswald', MONOSPACE;
	font-weight: bold;
	
}
.reset:hover{
	background-color:d5f1f2 ;
	color:red;
	
}




	

